@import "flag-icons/css/flag-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-slate-100
  + [data-collapsible="true"].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

.shake{
  border-radius: 5px; 
  &:hover, &:focus {
      animation: logoshake .5s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: center;
  }
}

@keyframes logoshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}